body{
    background-color: rgb(4, 4, 54);
}
a{
    text-decoration: none;
    background-color: rgb(4, 4, 54) ;
    color: white;
    display: inline;
    text-align: center;
    padding: 14px 25px;
}
.details{
    color: white;
    padding: 5%;
   
    
    
}
.pht{

float: right;
}
.info{
    color: white;
    word-spacing: 4em;
    
}