body{
    background-color: rgb(4, 4, 54);
    width: 50%;
    height: 75%;
}
a{
    text-decoration: none;
    background-color: rgb(4, 4, 54) ;
    color: white;
    display: inline;
    text-align: center;
    padding: 14px 25px;
}
.details{
    color: white;
    
}

.image{
    float: right;
}
.des{
    float: left;
}
footer{
    word-spacing: 1em;
    color: white;
}